[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
langchain = ">=0.0.211"
openai = "*"
google-search-results = "*"
watchdog = "*"

[dev-packages]
black = "*"
pre-commit = "*"
mypy = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
